.header {
	height: rem(55px);
	margin-bottom: rem(120px);
	background-color: var(--mantine-color-body);
	border-bottom: rem(1px) solid var(--mantine-color-gray-5);
}

.inner {
	height: rem(55px);
	display: flex;
	justify-content: center;
	align-items: center;
}
